<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link href="https://unpkg.com/tailwindcss@^1.9/dist/tailwind.min.css" rel="stylesheet">

    <title>Weather App</title>
</head>
<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-200">
        <div class="flex flex-col bg-white rounded p-4 w-full max-w-xs">
                                <div class="font-bold text-xl">Weather in <%= data.name %></div>
                                <div class="text-sm text-gray-500"><%= new Date().toDateString(); %></div>
                                <div class="mt-6 text-6xl self-center inline-flex items-center justify-center rounded-lg text-indigo-400 h-24 w-24">
                                    <!-- enter the cloud -->
                                    <img src="http://openweathermap.org/img/wn/<%= data.weather[0].icon %>@2x.png" alt="weather">
                                </div>
                                <div class="flex flex-row items-center justify-center mt-6">
                                    <div class="font-medium text-6xl"><%= (data.main.temp).toFixed() %>°C</div>
                                    <div class="flex flex-col items-center ml-6">
                                        <div><%= data.weather[0].main %></div>
                                        <div class="mt-1">
                                            <span class="text-sm"><i class="far fa-long-arrow-up"></i></span>
                                            <span class="text-sm font-light text-gray-500"><%= (data.main.temp_max).toFixed() %>°C</span>
                                        </div>
                                        <div>
                                            <span class="text-sm"><i class="far fa-long-arrow-down"></i></span>
                                            <span class="text-sm font-light text-gray-500"><%= data.main.temp_min.toFixed() %>°C</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-row justify-between mt-6">
                                    <div class="flex flex-col items-center">
                                        <div class="font-medium text-sm">Wind</div>
                                        <div class="text-sm text-gray-500"><%= data.wind.speed %>km/h</div>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <div class="font-medium text-sm">Humidity</div>
                                        <div class="text-sm text-gray-500"><%= data.main.humidity %></div>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <div class="font-medium text-sm">Visibility</div>
                                        <div class="text-sm text-gray-500"><%= data.visibility %></div>
                                    </div>
                                </div>
        </div>
    </div>
</body>
</html>