<%- include('header'); -%>

<% if (entries.length) { %>
    <% entries.forEach(entry => { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted pull-right">
                    <%= entry.pub %>
                </div>
                <%= entry.title %>
            </div>
            <div class="panel-body">
                <%= entry.body %>
            </div>
        </div>
        <hr>
    <% }) %>
<% } %>

<%- include('footer'); -%>